# Rust
/target/

# IDEs
.idea/
.vscode/
*.swp
*.iml

# MacOS
.DS_Store

# Logs
*.log
test_log*.txt

# Media files
*.mkv
*.mp4
*.avi
*.mov
*.flv

# Project Output
output.mkv
output.mp4

# Temporary scripts
test.bat
test_debug.bat

# Build Configuration
/.env
/libs

# Windows is complicated, usually DLLs best placed in root
*.dll
